<!DOCTYPE html class="h-100">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maddy Stevens</title>

    <!-- style and jquery scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- <link href="styles/style.css" rel="stylesheet" type="text/css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<!-- Title -->
<body>
    <header>
        <div class="container">
            <div class="page header" style="padding-left: 2%; padding-top: 3%;">
                <h1 data-content="home">
                    <a href="/" style="text-decoration: none;">Maddy Stevens</a>
                </h1>
                <h2 class="meta-title">Accessibility Web Development Specialist</h2>
            </div>
        </div>


            <!-- new nav bar start-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; padding-right: 10%;">
                <div class="container-fluid">
                <div class=" navbar-collapse" id="navbarRightAlignExample">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/@madelinestevens" target="_blank">Blog on Medium</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>

            <!-- end new nav bar-->
    </header>

    <!-- Start of Projects/home page-->
    <main>
        <section id="home" class="tab-content">
            <div class="container">
                <div class="jumbotron">
                    <h2 style="text-align:left;float:left;">Projects </h2>
                    <!-- dividing line -->
                    <hr style="clear:both;">

                
                <!-- first row of projects -->
                    <!-- <div class="row"> -->
                        <div class="outline">
                            <div class="container">
                                <div class="row align-items-center justify-content-end">
                                    <div class="col-md-5 col-sm-6 col-xs-12 text-center align-self-center">
                                        <h3>CVS Accessibility Audit</h3>
                                        A11y audit utilizing Voiceover as my screenreader, Wave and Axe as my automated testing tools, and WCAG 2.1 as my guidelines.
                                        </div>
                                        <div class= "col-md-5 col-sm-6 col-xs-12 text-center">
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <a class="btn btn-primary mx-auto" href="https://medium.com/p/f16da9ac76ec/" role="button" target="_blank">Read More on Medium</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        

                        <div class="outline">
                            <div class="container">
                                <div class="row align-items-center justify-content-end">
                                  <div class="col-md-5 col-sm-6 col-xs-12 text-center align-self-center">
                                    <h3>API Supply</h3>
                                    This RESTful Application Programming Interface(API) is a collection of useful APIs meant for Code Fellows 301 students to reference in order to help brainstorm final project ideas. It's an API of APIs!
                                  </div>
                                   <!-- button -->
                                  <div class="col-md-5 col-sm-6 col-xs-12 text-center">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a class="btn btn-primary mx-auto" href="https://github.com/madhubs/API_Supply" role="button" target="_blank"> API Supply on Github</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
            </div>
          
        <!-- end of Projects -->

         <!-- Start of workshops/home page-->
        <div class="container">
            <div class="jumbotron">
                <h2 style="text-align:left;float:left;"> Coaching & Teaching Projects</h2>
                <!-- dividing line -->
                <hr style="clear:both;">
            <!-- first row of projects -->
           
                <!-- <div class="row"> -->
                    <!-- start of teaching and coaching -->
                    <div class="outline">
                      <div class="title col-sm">
                        </div>

                        <div class="container">
                            <div class="row">
                              <div class="col-sm-4">
                                <figure>
                                    <a href="####" target="_blank"> <img class="img-responsive rounded img-thumbnail float-right" src="images/middleschooltech.JPG" alt="alternative of the image - See caption below"></a>   
                                    <figcaption>Middle School Tech Class</figcaption>
                                    </figure>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a class="btn btn-primary mx-auto" href="#" role="button" target="_blank">Read More...</a>
                                    </div>
                              </div>
                              <div class="col-sm-4">
                                <figure>
                                        <a href="https://medium.com/p/cd1673d7111b/edit" target="_blank"><img class="img-responsive img-thumbnail" src="images/rihanna.jpg" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day."></a>
                                    <figcaption>Coding Falcons & Substitute Teaching</figcaption>
                                </figure>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="btn btn-primary mx-auto" href="https://medium.com/p/cd1673d7111b" role="button" target="_blank">Read More on Medium</a>
                                </div>

                              </div>
                              <div class="col-sm-4">
                                <figure>
                                        <a href="https://medium.com/p/d29e2ac48dff" target="_blank"> <img class="img-responsive img-thumbnail float-right" src="images/IMG_0502 copy.jpg" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day."></a>
                                    <figcaption>SheCodesNow HTML/CSS workshop</figcaption>
                                </figure>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="btn btn-primary mx-auto" href="https://medium.com/p/d29e2ac48dff" role="button" target="_blank">Read More on Medium</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
            </div>
        </div>
        <!-- end of Education -->


         <!-- Start of Writing/home page-->

         <div class="container">

                <h2 style="text-align:left;float:left;"> Writing Projects</h2>
                <!-- dividing line -->
                <hr style="clear:both;">

            
            <!-- Writing -->
            <div class="outline">
                <div class="container">
                    <div class="row align-items-center justify-content-end">
                      <div class="col-md-5 col-sm-6 col-xs-12 text-center align-self-center">
                        <h3>WCAG, ARIA, Section 508</h3>
                        A practical guide to these top A11y tools and guidelines.
                      </div>
                       <!-- button -->
                      <div class="col-md-5 col-sm-6 col-xs-12 text-center">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-primary mx-auto" href="https://medium.com/p/c4c286197fc/edit" role="button" target="_blank">Read More on Medium</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
                
            <!-- Start of klipsun mag -->
                <div class="outline">
                  <div class="container">
                     <div class="row align-items-center justify-content-end">
                    
                        
                                <div class="col-md-10 col-sm-8 col-xs-12">
                                    <div class="container">
                                       <div class="row align-items-center">
                                        <div class="text-left">
                                            <h3>Klipsun Magazine at <br> Western Washington University</br></h3> 
                                            <h4>Handi-Capable </h4>
                                        </div>
                                             <div class="col-sm">
                                                <figure>
                                                <a href="https://cedar.wwu.edu/cgi/viewcontent.cgi?article=1250&context=klipsun_magazine" target="_blank"> <img class="img-responsive rounded" src="images/Screen Shot 2022-12-30 at 10.29.16 AM.png" alt="alternative of the image - See caption below"></a>   
                                                
                                                <!-- <figcaption>Handi-Capable: Quadriplegic Athletes turn disablity into Ability</figcaption> -->
                                             </figure>
                                             </div>

                                             <div class="col-sm">
                                                <figure>
                                                    <a href="https://cedar.wwu.edu/cgi/viewcontent.cgi?article=1250&context=klipsun_magazine" target="_blank"><img class="img-responsive rounded" src="images/Screen Shot 2022-12-30 at 10.29.35 AM.png" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day."></a>
                                                </figure>
                                             </div>
       
                                             <div class="col-sm">
                                                <figure>
                                                <a href="https://cedar.wwu.edu/cgi/viewcontent.cgi?article=1250&context=klipsun_magazine" target="_blank"> <img class="img-responsive rounded" src="images/Screen Shot 2022-12-30 at 10.30.16 AM.png" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day."></a>
                                                </figure>
                                             </div>

                                               <!-- button -->
                                                <div class="col-sm-5 text-center">
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <a class="btn btn-primary mx-auto" href="https://cedar.wwu.edu/cgi/viewcontent.cgi?article=1250&context=klipsun_magazine" target="_blank" role="button">Go to Klipsun Magazine</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                             </div>
                        </div>
                     </div>
                 </div>
                 <!-- End of writing -->

                 
                </div>
            </div>
    </section>
    <!-- end of Writing -->

        <!--start of contact us-->
        <div class="container">
            <section id="contact" class="tab-content">
                <!-- <div class="well well-sm">
              <h3><strong>Contact Us</strong></h3>
            </div> -->

            </section>
        </div>

        <!-- end of contact us -->

        <!-- start of about -->
        <div class="container">
            <section id="about" class="tab-content">
                <h2 style="text-align:left; float:left;">About</h2>
                <!-- dividing line -->
                <hr style="clear:both;">
                <div class="outline col-md-11.5 col-sm- col-xs-11.5" style="border: 1px solid #BEBEBE; border-radius:  10px">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <h4>
                                    Professionally:
                                </h4>
                                <p>
                                    My goal is to help make all online spaces as accessible as possible for as many people as possible.
                                    <br> </br>
                                    When I worked at Apple facilitating workshops for folks with disabilities, it was as frustrating for me as it was for them when we came across an inaccessible website or app. These experiences left me just wanting to get to work on these problems.
                                    <br> </br>
                                     Hello hello! My name is Maddy and I am an independent UX Researcher and Web Developer specializing in  Accessibility. 
                                    <br> </br>
                                    I audit websites and apps to ensure they are ADA (Americans with Disabilities) and WCAG (Web Content Accessibility Guidelines) compliant.
                                <br> </br>
                                <h4>
                                    Personally:
                                </h4>

                                <p> In addition to web accessiblity, I also work at a vet clinic. Can't complain about all the furry friends!
                                    <br> </br>
                                    Favorite films: The Martian, Mad Max: Fury Road, LOTR, Obvious Child, Shawn of the Dead
                                    <br> </br>
                                    Favorite books: Educated, The Midnight Library, The Autobiography of Malcolm X, Saga, Do Androids Dream of Electric Sheep
                                   
                                    <br> </br>
                                        Last updated: Feb 2023
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <img class="img-responsive float-left img-thumbnail" src="images/IMG_5758 2 copy.jpg" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day.">
                                <img class="img-responsive float-left img-thumbnail" src="images/apple_6377.png" alt="Maddy, a white, cis gender female, with brown hair outside smiling during a summer day.">
                            </div>
                           

                        </div>
                    </div>
                </section>
            </div>

    </main>
</body>

<!-- end of about -->

<!-- start of footer-->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.1);">
      © 2023 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Maddy Stevens</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- end of footer-->

<!-- external CDN resources -->

<script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="scripts/aboutController.js" type="text/javascript"></script>
<script src="scripts/scholarshipController.js" type="text/javascript"></script>
<script src="scripts/homeController.js" type="text/javascript"></script>
<script src="scripts/programsController.js" type="text/javascript"></script>
<script src="scripts/contactController.js" type="text/javascript"></script>

<script src="scripts/routes.js"></script>


</html>