@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 7px;
    padding-bottom: 50px;
    font-size: 20px;
    /* font-weight: bold; */
   }
}

a {
  text-decoration: none;
}

.navbar-nav{
  text-align: right;
} 




/* footer {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;  
  clear: both;
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
} */

/* .row {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 

} */
