@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 70px;
    /* font-size: 20px; */
    /* font-weight: bold; */
  }
}

.jumbotron p {
  font-size: 17px;
  /* font-weight: bold; */
}


.jumbotron h2 {
  font-size: 15px;
  line-height: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;  
  clear: both;
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
}

.row {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 

}
